<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:config.properties" />
	
	<bean id="myFortuneService" class="com.dindar.springdemo.HappyFortuneService">
	</bean>
	
	<bean id="myCoach" class="com.dindar.springdemo.BaseballCoach" init-method="doStartup" destroy-method="doDestroy">
		<constructor-arg ref="myFortuneService" />
		<property name="emailAddress" value="md@you.com" />
		<property name="address" value="${foo.address}" />
		
 	</bean>
    
 	


  

</beans>





